[Desktop Entry]
Name=Zotero
Comment=Open-source reference manager (standalone version)
TryExec=/opt/zotero/zotero
Exec=/opt/zotero/zotero
Icon=accessories-dictionary
Type=Application
X-GNOME-DocPath=
X-GNOME-Bugzilla-Bugzilla=
X-GNOME-Bugzilla-Product=
X-GNOME-Bugzilla-Component=
X-GNOME-Bugzilla-Version=
Categories=GNOME;GTK;Utility;
StartupNotify=false
X-Ubuntu-Gettext-Domain=zotero
Name[en_US]=Zotero

