[Desktop Entry]
Name=Zotero
Comment="Open-source reference manager (standalone version)"
Exec=__ZOTERO_PATH__
Icon=accessories-dictionary
Type=Application
StartupNotify=true
Terminal=true
